<!DOCTYPE html>
<html>
    <head>
        <title>Roman Numeral Converter</title>
        <link rel="stylesheet" href="app/css/main.css">
    </head>
    <body>
        <div ng-controller="numeralsController">
            <label for="numeral-input">numeral:</label><input id="numeral-input" ng-model="numeral">
            <label for="number-input">number:</label><input id="number-input" ng-model="number">
            <div ng-click="decrease(1)">
                &lt;
            </div>
            <div ng-click="increase(1)">
                &gt;
            </div>
        </div>
        <!--<script src="optimized.js"></script>-->
        <script data-main="app/js/main" src="bower_components/requirejs/require.js"></script>
    </body>
</html>