<!DOCTYPE html>
<html>
    <head>
        <title>Roman Numeral Converter</title>
        <!-- build:css css/app.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="app/css/main.css">
        <!-- /build -->
    </head>
    <body ng-controller="numeralsController">
        <div class="container">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="number" id="number-input" ng-model="number">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="numeral" id="numeral-input" ng-model="numeral">
            </div>
            <div ng-click="decrease(1)">
                &lt;
            </div>
            <div ng-click="increase(1)">
                &gt;
            </div>
        </div>
        <!-- build:remove:dist -->
        <script data-main="app/js/main" src="bower_components/requirejs/require.js"></script>
        <!-- /build -->
        <!-- build:template:dist
        <script src="js/app.js"></script>
        /build -->
    </body>
</html>